@media only screen and (min-width: 620px) {
	.hamb{
		display: none;
	}
}
@media only screen and (max-width: 620px) {
	.nav ul{
		display: none;
	}
}

@media only screen and (max-width: 920px) {
	.banner{
		&_img{
			display: none;
		}
		&_content{
			margin-left: 0px;
			text-align: center;
			&_connect{
				display: flex;
				flex-flow: column wrap;
				align-items:center;
			}
		}
	}
}
@media only screen and (max-width: 421px) {
	.sponsors{
		&_content {
			justify-content:center;
		}
	}
}
@media only screen and (max-width: 612px) {
	.services{
		flex-flow: column;
		&_use{
			width: 100%;
			padding-bottom: 40px;
		}
	}
}