body{
	padding: 0;
	border: 0;
	margin: 0;

	ul{
		list-style: none;
	}
}
a{
	text-decoration: none;
}
$color-header: #4b5a65;
$color-white: #fff;

.main_text1{
	color: $color-white;
	font-family:'Myriad Pro', regular;
	font-size: 15px;
}
.main_text2{
	color: $color-white;
	font-family:'Myriad Pro', regular;
	font-weight: bold;
	font-size: 47px;
}
.main_text3{
	color: $color-white;
	font-family:'Myriad Pro', regular;
	font-size: 16px;
	color: #d4d4d5;
}
.main_text4{
	color: $color-white;
	font-family:'Myriad Pro', regular;
	font-size: 16px;
	color: #a0a0a0;
}

.container{
	max-width: 978px;
	margin: 0 auto;
	overflow: hidden;
}
body{
	background-color: #fff;
}
header{
	background-color: $color-header;
}
.nav{
	padding: 37px 0;
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
	&_logo{
		font-family: 'Pacifico', regular;
		color: $color-white;
		font-size: 31px;
	}
	ul{ display: flex;
		flex-flow: row;
		li{	display: inline-block;
			margin-left: 15px;
			a{	
				@extend .main_text1;
				padding: 8px 20px 5px;

			&:hover {
				background-color: #424d56;
				border-radius: 20px;
				border-bottom: 1px solid rgb(145, 150, 153);
				border-top: 1px solid rgb(68, 68, 68);
			}

			}
		}
	}
}
.banner{
	padding-top: 32px;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	&_img{
		height: 445px;
	}
	&_content{
		margin-left: 115px;
		&_title{
			@extend .main_text2;	
		}
		&_title1{
			@extend .main_text3;
			padding-top: 15px;
			line-height: 1.5;	
		}
		&_title2{
			padding-top: 15px;
			@extend .main_text4;
			line-height: 1.5;	
		}
		&_connect{
			margin-top: 56px;
			span{
				padding-left: 20px;
				color: $color-white;
				font-family:'Myriad Pro', regular;
				img{
					margin-left: 16px;
					margin-right: 10px;
				}
			}
		}
	}
}
.bttn-gradient {
	border-width: 0;
	border-color: transparent;
	background: transparent;
	cursor: pointer;
	position: relative;
	font-size: 14px;
	font-family: 'Myriad Pro', regular;
	padding: 15px 46px;
	overflow: hidden;
	-webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
	transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.bttn-gradient:hover{
	opacity: 0.75;	
}
.bttn-gradient{
	border-radius: 100px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #429dd5), color-stop(1, #3f51b5));
	background-image: -webkit-linear-gradient(top, #00bbd4 0%, #3f51b5 100%);
	background-image: linear-gradient(to bottom, #00bbd4 0%, #3f51b5 100%);
	background-image: -webkit-linear-gradient(93deg, #3f51b5 0%, #00bbd4 100%);
	color: #fff;
}
.sponsors {
	background-color: #ececec;
	padding: 19px 0 16px;
	text-align: center;
	&_content {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
}